<<<<<<< HEAD
*{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container{
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 70px;

}

.navbar{
  position:sticky;
  top: 0;
  width: 100%;
   max-height: 15px;
}

.cards{
  border: 2px solid black;
  width: 10rem;
  min-height: 10rem;
  text-align: center;
}

h1{
  border: 2px solid gray;
}
h2{
  border: 2px solid gray;
}
h3{
  margin-top: 5px;
  border: 1px solid black;
}


.footer{
  background-color: gray;
  padding: 10px;
  text-align: center;
  color: white;
  font-weight: bolder;
  position:sticky;
  bottom: 0;
  width: 100%;
  max-height: 15px;
  
=======
ul{
  display: flex;
  gap: 34px;
}





ol{
  list-style-type: decimal;

}

h1{
  font-weight: bolder;
}


.red{
  background-color: red;
  color: white;
>>>>>>> 64de79bce031613c8bfa75724442b477959630ba
}